[Mysql]
server: 192.168.XX.XX
port: 3306
user:  *****
password: *****
DB: radius
## node table used for get statistcs of multiple wifidog gateway
table: node

[Node]
latitude:123
longitude: 123.35
mac: XX:XX:XX:XX:XX:XX
name: XXXXXXXXXX
ip: 192.168.XX.XX
port: 2060

[Radius]
server: 192.168.XX.XX
secret: XXXXXXXXXXXX
dictionary: /usr/share/freeradius2/dictionary

[Custom]
url: www.google.com
nas_port: 29
# Wireless Regional Area Networks (WRAN), IEEE Standard, IEEE 802.22, Work in Progress.
nas_port_type: 29
# WISPr-Location-Name = "Icon_Test"
wispr_location_name: Rapa_Net
# WISPr-Location-ID = "isocc=,cc=,ac=,network=Icon_Test"
# WISPr settings (to form a proper WISPr-Location-Id)
# HS_LOC_NETWORK="My Network"      # Network name
# HS_LOC_AC=408                    # Phone area code
# HS_LOC_CC=1                      # Phone country code
# HS_LOC_ISOCC=US                  # ISO Country code
wispr_location_id: isocc=it,cc=39,ac=02,network=Rapa_Net
footer_html_message: "Rapa_Net"

[Session]
#many seconds of inactivity.
session_expiry: 43200

